
/* Common css */
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
}


/* header style css */
header {
    background-color: #fdeef1;
    padding: 0 240px;
    padding-top: 50px;
    
  }
.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.header-title{
    width: 710px;
    color: #272727;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
}
.header-description{
    width: 634px;
    color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 32px 0;
}
.shop-btn{
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
    border-radius: 8px;
    background: #e55473;
    border: 2px solid #e55473;
}
.shop-btn:hover{
    color: #e55473;
    background-color: #fff;
    border: 2px solid #e55473;
    transition: 0.4s;
}

/* featured section style css */
.featured{
    padding: 0 250px ;
    margin-top: 180px ;
}
.featured-content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.featured-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.featured-description{
    margin: 24px 0px 48px 0px;
    width: 594px;
    color:rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}
.featured-content-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-direction: row
}
.featured-content-colum{
    width: 460px;
    height: 540px;
    /* border-radius: 300px 300px 40px 40px; */
    align-items: center;
}
.featured-content-colum img{
    padding: 110px 80px 80px 80px;
}

.box1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
.box2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}
.box3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.img-info-item{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.img-info{
    color: #272727;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    text-decoration-line: underline;
    margin-top: 30px;
}
/* rectangle section css */
.rectangle-item-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    border-radius: 10px;
    text-align: center;
}
.rectangle-content {
    background: #2727270D;
    margin: 130px 150px;
}
.rectangle-item {
    padding: 0px 54px;
}
.rectangle-item p{
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    margin-top: 20px;
}

/* Hot Deal Section css */
.deal-container{
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    text-align: center;
    padding: 80px 0;

}
.deal-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 20px;
}
.deal-des{
    color: #27272799;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
.deal-btn{
    margin-top: 20px;
}